<div class="container">

    <h3>

        <span>Leaderboard</span>

    </h3>

    <ul class="leaderboard-list">

    {{#each players}}

        <li>

            <span class="player">{{name}}</span>

            <span class="badge pull-right">{{score}}</span>

        </li>

    {{/each}}

    </ul>

</div>