<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title" id="mySmallModalLabel">What's your gamertag?</h2>
        </div>

        <form role="form">

            <div class="modal-body">
                <input class="input input-lg form-control" placeholder="Your Handle", type="text"/>
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary">Send</button>
            </div>

        </form>
    
    </div>

</div>