<div class="container">

    <div class="prompt">

        <h1>{{{question}}}</h1>

        <div class="feedback">

            <form class="form-inline">

                <div class="input-group">

                    <input type="text" class="input input-lg form-control answer" placeholder="It is..." />

                    <span class="input-group-btn">
           
                        <button class="send btn btn-lg btn-belly">GO</button>
           
                    </span>

                </div>

            </form>

        </div>

    </div>

</div>