<div class="container">

    <div class="jumbotron">

        <h1>{{user.name}} Won!</h1>

        <p>{{user.name}} has won the game of answering simple math questions faster then the other players with the use of web sockets.</p>

        <p><a class="btn btn-primary btn-lg restart" role="button">Play Again?</a></p>

    </div>

</div>