<div class="alert alert-info">

    <div class="container">

        <strong>Welcome to the Thunderdome!!</strong> 

        Be the first to answer the quesiton below to make your way up the leaderboard. First to <strong>10</strong> wins

    </div>

</div>